<h1>Books</h1>
<%= link_to "Return", root_path %>
<%= form_with model: @book do |form| %>
<div>
    <div><%= form.label :title %></div>
    <div><%= form.text_field :title %></div>
</div>
<div>
    <div><%= form.label :author %></div>
    <div><%= form.text_field :author %></div>
</div>
<div>
<%= form.submit %>
<% end %>
</div>
